body,html{
  font-size: 13px;
  line-height: 120%;
  font-family: 'Helvetica Text','Helvetica','Helvetica Neue','Arial','Noto Sans', sans-serif;
  height:100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  letter-spacing: -.675px;
}
body{
  background:#070707;
  color:#f7f7f7;
  text-transform: uppercase;
}

#app {
  display: flex;
}

img {
  max-width:100%;
}
a {
  display: inline;
  color:inherit;
  padding: 2rem;
  margin: -2rem;
  &:hover{
    cursor: none;
    background: #f7f7f7;
    color: #070707;
  }
}

header{
  @media (min-width: 600px) {
    position: fixed;
    top:0;
    left:0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  @media (max-width: 600px) {
    margin-bottom: 170px;
  }
  
}

footer{
  @media (min-width: 600px) {
    text-align: right;
    position: fixed;
    right:0;
    top: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  
  @media (max-width: 600px) {
    margin-top: 170px;
  }
}

article{
  margin:0 auto;
  ul{
    &:nth-child(odd){
      text-align: right;
    }
    &:nth-child(even){
      margin:170px 0;
    }
  }
  @media (m1x-width: 600px) {
    max-width: 44.4%;
  }
  @media (min-width: 1000px) {
    max-width: 22.2%;
  }
}

ul{
  list-style-type: none;
  padding: 0;
  margin:0;
}
p{
  margin: 0;
}